.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.side-bar {
  width: 400px !important;
  padding: 5px 10px;
  /* https://smoothshadows.com/#djEsMSw1LDAuMDgsMTIsMCwwLCMwMzA3MTIsI2YzZjRmNiwjZmZmZmZmLDI%3D */
  box-shadow:
    0px 0px 0px rgba(3, 7, 18, 0.02),
    0px 0px 2px rgba(3, 7, 18, 0.03),
    0px 0px 4px rgba(3, 7, 18, 0.05),
    0px 0px 8px rgba(3, 7, 18, 0.06),
    0px 0px 12px rgba(3, 7, 18, 0.08);
}

.detection-frame {
  flex-grow: 1;
  padding: 20px 30px;
}

.wrapper {
  width: min(100%, 600px);
  margin: 0 auto;
  padding-top: 50px;
}
.wrapper button {
  float: right;
}

.review-input {
  width: 100%;
}

.space {
  height: 100px;
}
