<div class="content">
  <div class="side-bar">
    <app-history
      [history]="history"
      (historyClicked)="historyClick($event)"
      (historyUpdated)="historyUpdated()"
    ></app-history>
  </div>
  <div class="detection-frame">
    <div class="wrapper">
      <p>
        Beginnen Sie, indem Sie etwas Text in das Textfeld unten eingeben und
        auf "Erkennen" klicken, um zu überprüfen, ob die Bewertung gefälscht ist
        oder nicht.
      </p>

      <mat-form-field class="review-input">
        <mat-label>Bewertung</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="5"
          placeholder="Tippen Sie eine Bewertung ein..."
          [formControl]="reviewFormControl"
          [errorStateMatcher]="errorMatcher"
          #reviewInput
        ></textarea>
        <mat-hint class="review-len"
          >{{ reviewInput.value.length }} / 512</mat-hint
        >
        <mat-error *ngIf="reviewFormControl.hasError('required')"
          >Geben Sie eine Bewertung ein!</mat-error
        >
        <mat-error
          *ngIf="
            reviewFormControl.hasError('minLength') &&
            !reviewFormControl.hasError('required')
          "
          >Eine Bewertung sollte aus min. 3 Zeichen bestehen!</mat-error
        >
        <mat-error *ngIf="reviewFormControl.hasError('maxLength')"
          >{{ reviewInput.value.length }} / 512</mat-error
        >
      </mat-form-field>

      <button
        *ngIf="!loading"
        id="detect-button"
        mat-raised-button
        color="primary"
        (click)="checkReview(reviewInput.value)"
      >
        Erkennen
      </button>
      <button
        *ngIf="loading"
        mat-raised-button
        class="loading-button"
        [disabled]="true"
      >
        <mat-spinner [diameter]="20"></mat-spinner>
      </button>

      <div class="space"></div>

      <app-result [result]="result"></app-result>

      <div class="space"></div>
    </div>
  </div>
</div>
