.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: min(90%, 400px);
}

h1,
p {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
}
